<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/public/styles/styles.css">
    <title>Gestor Catastral Multiproposito</title>
</head>
<header class="header">
    <img src="../public/img/logo.png" width="50px" alt="">
    <h2 class="modulo-consultas-tittle">Módulo de Consulta</h2>
</header>
<nav>
    <ul>
        <li><a href="./index.html" class="link underline-hover">Perfil</a></li>
        <li><a href="#" class="link underline-hover">Radicación</a></li>
        <li><a href="./ejecucion.html" class="link underline-hover">Ejecución</a></li>
        <li><a href="./historial.html" class="link underline-hover">Historial</a></li>
    </ul>
</nav>
<body>
    <form action="" id="consultas">
        <select name="table" id="table">
            <option value="">Selecione una opción</option>
            <option value="ric_predio">Predio</option>
            <option value="ric_interesado">Interesado</option>
        </select>
        <select name="column" id="column">
            <option value="">Selecione una opción</option>
        </select>
        <input type="text" placeholder="Ingrese el valor de la busqueda" name="value" id="value" required>
        <button type="submit" id="send">Buscar</button>
    </form>
    <div id="traveltable">
        <button id="back" ><</button>
        <button id="advance" >></button>
    </div>
    <div id="modal">
        <span id="bg-modal"></span>
        
        <div id="modal-body">
        </div>
    </div>

    <footer class="footer">
        Todos los derechos reservados &copy; 2024
    </footer>
    <div id="msj">
        <h2>none</h2>
        <p>none</p>
    </div>
</body>
<script type="module" src="../../scripts/consulta.js"></script>
</html>