<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="crossorigin="anonymous"></script>
    <title>Gestor Catastral Multiproposito</title>
</head>
<body>
    <form action="" id="consultas">
        <select name="table" id="table">
            <option value="">Selecione una opción</option>
            <option value="ric_predio">Predio</option>
            <option value="ric_interesado">Interesado</option>
        </select>
        <select name="column" id="column">
            <option value="">Selecione una opción</option>
        </select>
        <input type="text" placeholder="Ingrese el valor de la busqueda" name="value" id="value" required>
        <button type="submit" id="send">Buscar</button>
    </form>
    <div id="modal">
    </div>
</body>
<script type="module" src="../../scripts/index.js"></script>
<script src="../../scripts/unmodule.js"></script>
</html>