<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <title>Ejecución</title>
</head>
<body>
    <header class="header">
        <img src="../public/img/logo.png" width="50px" alt="">
        <h2 class="modulo-consultas-tittle">Usuario</h2>
    </header>
    <nav>
        <ul>
            <li><a href="./index.html" class="link underline-hover">Perfil</a></li>
            <li><a href="#" class="link underline-hover">Radicación</a></li>
            <li><a href="./consultas.html" class="link underline-hover">Consulta</a></li>
            <li><a href="./historial.html" class="link underline-hover">Historial</a></li>
        </ul>
    </nav>
    <form id="search_predio" action="">
        <label for="">Ingrese el numero predial que desea modificar</label>
        <input type="text" placeholder="Numero predial">
        <button id="search" type="submit">Buscar</button>
    </form>
    <div class="section">
        <section id="interesados-actual"></section>
        <section id="interesados-nuevo"></section>
        <section id="derecho-nuevo"></section>
        <section id="fuente-nuevo"></section>
    </div>
    
    <div id="msj">
        <h2>none</h2>
        <p>none</p>
    </div>
    <script type="module" src="../../scripts/funciones_generales.js"></script>
    <script type="module" src="../../scripts/ejecucion.js"></script>
</body>
</html>